<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SoftwareArchitecture.Properties.Settings.cao2246ConnectionString"
            connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=cao2246;Persist Security Info=True;User ID=cao2246"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
