<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppShared.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=den1.mssql7.gear.host;User ID=cao2246;Password=Ed490?jf-m5Q"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>